{% extends 'base.html' %}
{% block content %}

<h1>Weight Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ weight.name }}</span>
        <p>Lbs: {{ weight.size_lbs }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'weight_update' weight.id %}">Edit</a>
        <a href="{% url 'weight_delete' weight.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}