{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col s12 m5">
        <div class="horizontal card">
            <div class="card-content">
                <span class="card-title">{{ customer.name }}</span>
                <p>Lbs - {{ customer.size }}</p>
                <br>
                <p>Description: {{ customer.description|linebreaks }}</p>
            </div>
            <div class="card-image">
                <img src="{% static 'images/imgtest.png' %}">
            </div>
        </div>
        <a class="btn-floating" href="{% url 'customer_delete' customer.id %}"><i class="material-icons">delete</i></a>
        <a class="btn-floating" href="{% url 'customer_update' customer.id %}"><i class="material-icons">edit</i></a>
    </div>
    <div class="col s12 m5">
        <div class="card">
            <div class="card-title">
                Workouts Planned with {{customer.name}}
            </div>
            <div class="card-content">
                {% for workout in customer.workout_set.all %}
                  Workout Name: &nbsp;{{workout.name}}
                  <br>
                  Workout Difficulty: &nbsp;{{workout.difficulty}}
                  <form method="POST" action="{% url 'workout_delete' workout.id %}">
                    {% csrf_token %}<input type="submit" value="DELETE">
                 </form>
                {% endfor %}
            <br><br>
            <form id="workout_form" action="{% url 'add_workout' customer.id %}" method="POST">
                {% csrf_token %}
                <!-- Render the inputs -->
                {{ workout_form.as_p }}
                <input type="submit" class="btn" value="Add Workout">
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}