{% extends 'base.html' %}
{% block content %}

<h1>Customer List</h1>

{% for customer in customers %}
  <div class="card">
    <a href="{% url 'customer_details' customer.id %}">
      <div class="card-content">
        <span class="card-title">{{ customer.name }}</span>
        <p>Lbs - {{ customer.size }}</p>
        <br>
        {% if customer.exercised_today %}
          <h5> good job! </h5>
        {% else %}
          <h5> you need more exercise! </h5>
        {% endif %}
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}